body , 
ul , 
li, 
p{
    margin: 0px;
    padding: 0px;
    list-style: none;
    font-size: 1.2rem;
    font-family: Arial, Helvetica, sans-serif;
}
a{
    text-decoration: none;
    color: #fff;
}
header{
    background-color: rgb(30, 116, 131);
    display: flex; 
    flex-wrap: wrap; /*útil quando a tela diminuir, vai deixar um elemento em baixo do outro*/
    align-items: center; /*deixa os itens alinhados no centro*/
    justify-content: space-between; /*espaço entre os elementos do header*/
    padding: 20px;
}
.menu{
    display: flex;
}
.menu li {
    margin-left: 10px; /*espaço entre os itens do menu*/
}
.menu li a{
    display: block;
    padding: 10px;
}
h1{
    text-align: center;
    margin-top: 20px;
}
img{
    max-width: 100%;
    display: block;
}
.grid1{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr; /*divisao das colunas*/
    max-width: 800px;
    margin: 0 auto;
    grid-gap: 20px ; /*espaçamento entre os itens*/
}